.computerDamagesEntireContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    background-color: #0A0A0A;
    gap: 2rem;
  

}

.damagesInfoTitleContainer{
    width: 90%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}

.damagesInfoTitle{
    color: #03ff2d;
    font-size: 1rem;
    font-weight: 600;
}

.damagesInfoSeverity {
    
    font-size: .8rem;
    font-weight: 900;
  
 
}


.symptomsContainer {
    width: 80vw;
    border-radius: 0.5rem;
    text-align: left;
    margin-bottom: 2rem;
}

.symptomsTitleContainerLeft{
    display: flex;
    flex-direction: column;
    height: 10vh;
    margin-bottom: 1rem;
 
}


.symptomsTitleClick{
    font-size: .7rem;
    font-weight: 500;
    color: #B0B0B0;
}

.symptomsTitleContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    font-size: 1rem;
    font-weight: 600;
    height: 10vh;
    margin-bottom: 1rem;
  
}

.symptomsTitle {
margin:0;
}

.symptomsList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: hidden;
}

.symptomContainer {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.symptomText {
    color: #F5F5F5;
    font-size: 0.8rem;
    margin: 0;
}

.symptomsArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #B0B0B0;
    cursor: pointer;
    transition: color 0.3s ease;
}

.symptomsArrow:hover {
    color: #03ff2d;
}

.requestServiceContainer{
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
  
}

.requestServiceTitle{
font-size: .7rem;
align-self: flex-start;
margin-bottom: 2rem;
color:#B0B0B0;
}

.requestServiceButton{
    width: 8rem;
   align-self: flex-start;
    font-size: .8rem;
    border: 1px solid 	rgba(255,255,255,0.2);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    color: #F5F5F5;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    
}


.repairsTitle{
    font-size: .7rem;
}




