

.welcomeSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:95vw;
  margin:auto;
}

.welcomeText{
  color: #b0b0b0;
  font-size: .8rem;
  font-weight: 500;
}


.newInfoSection{
  display: flex;
  flex-direction: row;
  width:95vw;
  margin:auto;
  margin-top: 3rem;
  border:1px solid rgba(255,255,255,0.2);
  border-radius: 1rem;
  height:auto;
}

.newInfoLeft{
  text-align: left;
  margin-left: 10vw;
}

.newInfoSectionTitle{
 font-size: 1rem;
}
.newInfoSectionText{
  font-size: .8rem;
}
.newInfoStatus{
  font-size: .8rem;
  color: #03ff2d;
  font-weight: 500;
}

.newInfoLeft{
  color: #b0b0b0;
}

.newInfoClockIcon{
  font-size: 2.5rem;
  color: #b0b0b0;
}


.newInfoRight{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height:20vh;
  width:30vw;
  align-items: center;
}
.newInfoButton{
  outline: none;
  border: none;
  background: linear-gradient(90deg, #b0b0b0, #ffffff, #b0b0b0);
  background-size: 200% 100%;
  color: #000000;
  font-size: .8rem;
  font-weight: 500;
  padding: .5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  animation: gradientShift 10s ease-in-out infinite;
}

.newInfoButton:hover {
  transform: translateY(-2px);

}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


