

.homePageStoreContainer{
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 90vh;
    background: #000000;
    margin: auto;
    border-radius: 1rem;
    padding-bottom:1.3rem;
    border: 1px solid #9000fa;
    top:0;
    left:0;
    right:0;
    bottom:0;

    &:hover{
      box-shadow: 0 0 15px #9000fa;
      transition: all 0.5s ease;
    }
   
  }

  

  .filterSectionBackground{
    background-color: #ffffff0d;
    border-radius: 1rem;
    width: 95%;
    height: 100%;
    padding-bottom:2.5rem;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  

  }

  
  
  .homePageStoreTitle{
    background: linear-gradient(to right, #cd92f7, #9000fa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-top: 20vh;
    
    text-align: left;
    margin-left: 5vw;
  }

  .homePageStoreNewPreferenceText{
    color: #b54ffd;
    margin-top: 10vh;
    
  }

  
 
  .homePageStorePreferenceText{

    color: #b54ffd;
  }


  
  .homePageStorePreferenceContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    
    
  }
  
  .homePageStorePreferenceButton{
    border-radius: .25rem;
    width: 5vw;
    height: 3vh;
    border: none;
    background-color: #ffffff;
    font-family: 'JetBrains Mono', monospace;
    position: relative;
  }
  
  .homePageSubmitButtonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    height:50%;
  }
  
  .homePageSubmitButton{
   width:30vw;
   height:5vh;
   border:none;
   border-radius: .5rem;
   font-family: 'JetBrains Mono', monospace;
   font-weight: 700;
   font-size: .9rem;
  background: linear-gradient(to right, #0f0816, #9000fa);
  color: #ffffff;
  border: 1px solid #9d65da;
  
  }
  
  .clearFiltersButton{
  width: 40vw;
  height:5vh;
  border:none;
  border-radius: .5rem;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 700;
  font-size: .9rem;
  color: #ffffff;
  border: 1px solid #9d65da;
  background: linear-gradient(to right, #0f0816, #9000fa);
    
    
  
  }
  

  .checkIcon{
 
    position: absolute;
    top:5;
    right:5;
    left:0;
    bottom:0;
    width: 100%;
    height: 100%;
    color: #000000;
    z-index: 1;
    font-size:1.35rem;
    
  }

.preferencePair {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  text-align: start;
  margin-left: 10vw;
  
}

.checkboxContainer{
  display: flex;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  width:10vw;
  height:5vh;

  margin:auto;
  
}

.checkbox{

  width: 6vw;
  height: 6vw;
  background: #9000fa;
  border: 2px solid #9000fa;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.5s ease;

  &:hover{
    box-shadow: 0 0 10px #9000fa;
    transition: all 0.5s ease;
  }

}

.checkboxInner{

  width: 50%;
  height: 50%;
  background-color: #a02bf3;
  border-radius: 25%;
  margin:auto;
  
 
}




.unchecked{
  opacity:0;
  background-color: #0c0c0c;
  
}

.checked{
  
  background: #000000;
  box-shadow: 0 0 10px #9000fa;
}

