.dataRecoveryMethodsContainer{
 
    margin-bottom:20vh;
   
   

  }
  

  .dataRecoveryMethodsInformationContainer{
    width: 95vw;
 
    min-height: 80vh;
   
    margin: auto;
    
    background: #000000;
    color:rgba(255, 255, 255, 0.849);
    border: 1px solid rgb(255, 255, 255);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    text-align: left;
   
  
  }
  
  
  .dataRecoveryMethodsInformationHeader{
    font-weight: 600;
    color:#EDB900;
    margin-left: 7vw;
    font-size: .8rem;
    text-align: left;
  }
  

  
  .dataRecoveryMethodsSectionContainer{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid whitesmoke;
    height: 8vh;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    padding: 0 1rem;
  
   
  
  }

  .dataRecoveryIndividualMethodTitle{
    font-size: .65rem;
    position: relative;
    z-index: 1;
    color:whitesmoke;
    font-weight: 600;
    font-size: .6rem;
    cursor: pointer;
    list-style: none;
    flex: 1;
    text-align: center;
    min-width: 0;
    height: 5vh;
    padding: 0.5rem;
    margin:auto;

  }

  .methodBackground{
  
    width: 85%;
    height: 70%;
    position: absolute;
    z-index: -1;
    border-radius: .50rem;
    background: linear-gradient(to bottom, #000000 0%);
  
    top: 10%;
    left:5%;
   
  }
  

  
  .dataRecoveryMethodTitle{
  
    font-size: .65rem;
  }
  
  .dataRecoveryMethodsInformationTextContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    line-height: 1.6;
 
 
    padding: 2rem 0;
  }
  
  .dataRecoveryMethodsInformationTextHeader , .requestServicesHeader{
    align-self: flex-start;
    font-size: .9rem;
    color: #EDB900;
    margin-left: 1rem;
   
  
  
  }
  
  .dataRecoveryMethodsInformationText  {
  
    font-size: .70rem;
    margin-left:7vw;
    line-height: 1.9;
   
 
  }

.dataRecoveryMethodInfomrationTextContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}
  
  .dataRecoveryMethodsInfoContainer{
   cursor: pointer;
    width:85vw;
 
  }

  .dataRecoveryMethodsInfoText{
    line-height: 1.9;
    font-size: .70rem;
 
  }






