.individualServiceContainer {
    width:25%;
}

.serviceTitle {
    font-size: .8rem;
}

.servicesInformationContainer {
   width: 95vw;
   height: 80vh;
   display:grid;
   grid-template-areas: 
   "image text"
   "button button";
   grid-template-columns: 45% 45%;
   grid-template-rows: 50% 50%;
   gap:8vw;
   border:#282c30 solid 1px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   border-bottom-left-radius: 1rem;
   border-bottom-right-radius: 1rem;
   margin:auto;
}

.servicesInformationImage{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    margin-top:5vh;
    margin-left:5vw;
    grid-area: image;
}
.servicesInformationText{
  font-size: .8rem;
  color:whitesmoke;
    width: 100%;
    height: 100%;
    margin-top:5vh;
    line-height: 1.5;
    text-align: center;
    grid-area: text;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
}

.servicesGetTouchContainer{
    grid-area: button;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicesGetTouchButton {
    width: 40vw;
    height: 5vh;
    border-radius: 10px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    font-family: 'JetBrains Mono', monospace;
    font-size: .9rem;
    font-weight: 900;
}

.container {
    display: flex;
    margin-top: 5rem;
}


/*Header styling*/

.servicesContainer{
  display:flex;
  flex-direction: row;
  width: 95vw;
  height: 15vh;
  border:#3b3f44 solid 1px;
  justify-content: space-between;
  align-items: center;
  margin:auto;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

}

.serviceList{
 
  display:flex;
  flex-direction: row;
  width: 100%;
  list-style: none;
  gap:1.5rem;
  margin:0;



}

.serviceItem{


  display:flex;
  justify-content: center;
  align-items: center;
  position:relative;
  z-index: 1;
  color:whitesmoke;
  font-weight: 600;
  font-size: .75rem;
  left:-5%;
 
 
}

.serviceBackground{
  position:absolute;
  z-index: -1;
  border-radius: 1rem;
  background: linear-gradient(to bottom, #2e3135 40% , #000000 90%);
  border: 1px solid #282c30;
  width: 125%;
  height: 125%;
 
}


.methodBackground{
  color: #00FF08;

}


  

 