.servicesContainer {
    margin-top: 10vh;
    height: 80vh;
    width: 100vw;
    width: 95vw;
    margin: auto;
    border-radius: 1rem;
    position: relative;
    background: #000000; /* or whatever your background color should be */
  }
  

 
  
  .servicesHeaderTitle {
    color:#4570ff;
    display: flex;
    margin-left:5vw;
    font-size: 1rem;
  }
  
  
  
  

  
  .individualServiceContainer {
    width:25%;
  }
  
  .serviceTitle {
  
    font-size: .8rem;
  }
  
  .servicesInformationContainer {
   width: 95vw;
   height: 80vh;
   display:grid;
   grid-template-areas: 
   "image text"
   "button button";
   grid-template-columns: 45% 45%;
   grid-template-rows: 50% 50%;
   
   gap:8vw;
  }
  
  .servicesInformationImage{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    margin-top:5vh;
    margin-left:5vw;
    grid-area: image;
  }
  .servicesInformationText{
  color:whitesmoke;
    width: 100%;
    height: 100%;
    margin-top:5vh;
    line-height: 1.5;
    text-align: center;
    grid-area: text;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
  }
  
  .servicesGetTouchContainer{
    grid-area: button;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .servicesGetTouchButton {
    width: 40vw;
    height: 5vh;
    border-radius: 10px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    font-family: 'JetBrains Mono', monospace;
    font-size: .9rem;
    font-weight: 900;
  }
  


  /*Service List*/

  .container {
    display: flex;
 
    margin-top: 5rem;
   
  
  }

  .servicesSectionContainer {
  
    color:whitesmoke;
    width: 95vw;
    height: 15;
    border-radius: 1rem;
    border:1px solid whitesmoke;
    border-radius: 1rem;

    display: flex;
    
  
  }

  
  .serviceList {
    display: flex;
    gap: .25rem;
    background: #000000;
    padding: 0.5rem;
    
    width:95vw;



  }
  
  .serviceItem {
    position: relative;
    padding: 0.25rem .75rem;
    cursor: pointer;
    font-weight: bold;
    color: white;
    border-radius: 0.75rem;
    overflow: hidden;
  }
  
  .serviceText {
    position: relative;
    font-size: .7rem;
    z-index: 2;
  }
  
  .activeBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ffffff6b;
    border-radius: 0.75rem;
    z-index: 1;
  }
