.virusProtectionInformationHeader{
    font-weight: 400;
    color:#06F816;
    align-self: flex-start;
    margin-left: 6vw;
    font-size: 1rem;
    padding:0;
   
  }
  
  
  
  .virusProtectionHeroSectionButton{
    height: 5vh;
    border-radius: 10px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    font-family: 'JetBrains Mono', monospace;
    font-size: .9rem;
    font-weight: 900;
  
  }
  
  
  
  

  .virusProtectionInformationContainer{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:whitesmoke; 
    padding:0;
  
  }
  
  .virusProtectionInformationTitle{
    font-size: 1.7rem;
    font-weight: 900;
    margin:0;
    margin-bottom: 5vh;
    width:100%;
    line-height: 1.8;
   
  }
  
  .virusProtectionInformationText{
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    color:#D7D7D7;
    width:90%;
    max-width: 90vw;
   
  }
  
  
  .virusProtectionImagesContainer, .virusDangersInformationImageContainer{
  
    height: 40vh;
    width: 90%;
    max-width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-bottom:10vh;
    
  }
  