.contactPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;

}

.contactPageTitle {
    font-size: 2.5rem;
    font-weight: 600;
    background: linear-gradient(145deg, #F5F5F5, #999999);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;
    margin-top: 3rem;
    font-style: italic;
    text-align: start;
    width: 90vw;

}

.contactFormLabel, .contactFormLabelTextarea {
    font-size: 1rem;
    font-weight: 600;
    color: #B0B0B0;
    transition: color 0.3s ease;

    &:focus {
        color: #F5F5F5;
    }
   
}

.contactForm {
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    height: auto;
    width: 90vw;
    gap:1rem;
  
   
}

.contactFormInput , .contactFormTextarea {
    width: 70vw;
    padding: 0.5rem;
    border: 1px solid #B0B0B0;
    border-radius: 0.5rem;
    font-weight: 700;
    background-color: #151619;
    border:#2c3034 1px solid;
    color: #F5F5F5;
    font-family: 'JetBrains Mono', monospace;

    &:focus {
        outline: none;
        border: 1px solid #B0B0B0;
        border-radius: 0.5rem;
        font-weight: 700;
        background-color: #151619;
        border:#2c3034 1px solid;
        color: #F5F5F5;
        box-shadow: 0 0 10px rgba(44, 48, 52, 0.8);
    }


}

.contactFormTextarea {
   
    height: 10rem;
   
}



.contactFormInputsContainer, .contactFormTextareaContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom:1rem;
    gap:.5rem;

    &:focus-within .contactFormLabel,
    &:focus-within .contactFormLabelTextarea {
        color: #F5F5F5;
    }

    
}

.contactFormButton {
    width: 7rem;
    padding: 0.5rem;
    border: 1px solid #B0B0B0;
    border-radius: 0.5rem;
    font-weight: 800;
    background-color: transparent;
    color: #B0B0B0;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0.1;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.contactFormButtonActive {
    
    color: #F5F5F5;
    opacity: 1;
    border: 1px solid #2c3034;
    box-shadow: 0 0 10px rgba(44, 48, 52, .8);
}

.altContactContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    height: auto;
    width: 90vw;
    color: #F5F5F5;
    margin-top: 5rem;
    text-align: start;
   
}


.getHelpTitle, .phoneTitle, .emailTitle {
    font-size: .9rem;
    font-weight: 600;
    color: #B0B0B0;
  
}

.getHelpText, .phoneText {
    font-size: .9rem;
    font-weight: 700;
    color: #F5F5F5;
    margin-bottom: 0.3rem;
    letter-spacing: 0.05rem;
}



.workingHoursContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    width: 90vw;
    color: #F5F5F5;
   
    
}

 .workingHoursTitle {

    font-size: 1rem;
    color: #B0B0B0;
    font-weight: 400;
   
  
 

}

.workingHoursTitle {
    margin-top: 3rem;
    margin-bottom: 0.2rem;
}



 .workingHoursText {

    font-size: .9rem;
    color: #F5F5F5;
    font-weight: 400;
    margin-bottom: 0.25rem;

}





