.servicesIconContainer{
    border-radius: .25rem;
    width: 20vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}

.servicesIcon{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ffffff25;
    box-shadow: none;
    transition: all 0.3s ease;
}

.active .servicesIcon{
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: inset 0px 4px 4px #ffffff25, inset -2.5px 0px 4px
}

.servicesIconText{
    transition: all 0.3s ease;
    font-size: 1rem;
    font-weight: 600;
    color: #b0b0b0;
}

.active .servicesIconText{
    color: #ffffff;
}

.triangle1, .triangle2{
    opacity: 0;
    transition: opacity 0.3s ease;
}

.plug{
    fill: #b0b0b0;
    transition: fill 0.3s ease;
}

.active .outlet1, .active .outlet2{

    fill: #ffffff;
    
    transition: transform 0.5s ease;
    transform: translateX(20px);
}

.active .triangle2{
    opacity: 1;
    transition-delay: 0s;
}

.active .triangle1{
    opacity: 1;
    transition-delay: 0.2s;
}
