.heroSectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
   
   
  }
  

  .mainTextContainer {
  
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
   
  
  }
  
  .heroSectionMainText {
    color: #f8f8f8;
    font-family: 'JetBrains Mono', monospace;
    font-size: 2rem;
  }
  
  .heroSectionSecondaryText {
    color: #D7D7D7;
    font-family: 'JetBrains Mono', monospace;
    font-size:.8rem;
    font-weight: 500;
    line-height: 2;
    margin-top: 1.5rem;
  
  }
  
  .heroSection3DContainer {
    height: 40%;
    width:100%;
   
  }
  
  .heroSectionButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 6vw;
   
    width: 100%;
    
  }
  
  .heroSectionGetStartedButton {
    background: linear-gradient(90deg, #151619, #2d3035, #4a5568, #2d3035, #151619);
    background-size: 200% 200%;
    color: #B0B0B0;
    border: 2px solid #2d3035;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    width:50vw;
    height:6vh;
    text-align: center;
    margin:auto;
    animation: gradientShift 4s ease infinite;
    font-weight: 700;
    font-family: 'JetBrains Mono', monospace;

    
  }

  .heroSectionGetInTouchButton {
    width: 50vw;
    height: 6vh;
    border-radius: 10px;
    border: 2px solid #2d3035;
    background-color: #000000;
    color: #ffffff;
    font-family: 'JetBrains Mono', monospace;
    font-size: .9rem;
    font-weight: 900;
    cursor: pointer;
  }

  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  