.heroSectionContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin: auto;
    margin-top: 10vh;
    font-family: 'JetBrains Mono', monospace;
  
}

.aboutFreelance{
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 1rem;
}


.aboutFreelanceDescription{
    font-size: .8rem;
    font-weight: 400;
    color: #B0B0B0;
    margin-bottom: 15vh;
}


.aboutFreelanceImage{
    width: 100vw;
    height: 40vh;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 2rem;
    margin-bottom: 15vh;
    filter: grayscale(25%);
}
.successStoriesContainer{
    width: 100%;
    max-width: 100vw;
    height: clamp(320px, 55vh, 680px);

 
}

.successStoriesImage{
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
  
  

    
}