.container {
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width:95vw;
  margin:auto;
  margin-top: 5vh;

}

.innerContainer {
  
  width: 100vw;
  
}


.headerImage{
  width: 100%;
  height: 40vh;
  object-fit: cover;
  margin-left:3vw;
  
}
.headerTitle1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: #D1D5DB;
  margin-bottom: 16px;
  margin: 0;
}

.headerTitle2 {
  font-size: 2.5rem;
  font-weight: 300;
  color: #FFFFFF;
  margin: 0;
}

.avatarContainer {
  display: flex;
  align-items: center;
  
  margin-bottom: 4rem;
  gap: 20px;
  height:20vh;
  margin: auto;
  overflow-x: auto;
  width: 100%;
  max-width: 500px;
  padding-bottom:3rem;
  margin-bottom: 3rem;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

}

.avatarContainer::-webkit-scrollbar {
  display: none;
}

.avatarContainer {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.avatar {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  flex-shrink: 0;
  object-fit: cover;
}

.avatarActive {
  width: 6rem;
  height: 6rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  flex-shrink: 0;
  object-fit: cover;
  box-shadow: 0 0px 20px rgba(255, 255, 255, 1);
}

.contentContainer {
  position: relative;
}

.arrowButton {
  width: 3rem;
  height: 3rem;
  border: none;
  background: transparent;
  border-radius: 25%;
  cursor: pointer;
  box-shadow: inset 0px 3.5px 4px #ffffff25, inset -2.5px 0px 4px
}




  
.arrowIcon {
  width:  1rem;
  height: 1rem;
  color: #FFFFFF;
}

.mobileControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
 

}

.testimonialCard {
  max-width: 512px;
  margin: 0 auto;
  text-align: center;
}

.testimonialText {
  color: #b0b0b0;
  font-size: .8rem;
  line-height: 1.75;
  margin-bottom: 32px;
  padding: 0 16px;
}

.testimonialName {
  color: #ffffffe8;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.testimonialTitle {
  color: #b0b0b0;
  font-size: 0.8rem;
}


