.reachOutToUsContainer{
    width: 100vw;
    height: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
   
}

.title{
    font-size:1.5rem;
    margin-top: 5vh;
    color: #ffffff;
}
.description{
    font-size:.8rem;
    color: #b0b0b0;
    
}

.reachOutToUsImage{
    width: 90%;
    margin: auto;
    border-radius: 1rem;
    height: 100%;
    object-fit: cover;
}

.contactInfoContainer{
    display: grid;
    grid-template-areas:
    'email address'
    'phone phone';
    grid-template-columns: 40vw 40vw;
    grid-template-rows: auto auto;
    gap: 10vw;
    width: 90vw;
    align-items: center;
    border-radius: 2rem;
}


.emailContainer , .phoneContainer , .addressContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color:#08080852;
    padding: 1rem;
    border-radius: 1rem;
}

.phoneContainer {
    grid-area: phone;
    width: 70%;
    margin: auto;
}
.emailContainer {
    grid-area: email;
    width: 100%;
}
.addressContainer {
    grid-area: address;
    width: 100%;
}

.contactTextContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#b0b0b0;
  

}



.iconBackground{
 
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: inset 0px 4px 4px #ffffff25, inset -2.5px 0px 4px
}

.contactIcon{
    font-size:1.5rem;
    color:#ffffff;
}

.contactTextTitle{
    font-size:.6rem;
    font-weight: 500;
    color:#b0b0b0;
}

.contactSubText{

    font-size:.6rem;
    font-weight: 500;
    color:#b0b0b0;
}


