.successStoriesContainer{
    width: 100%;
    max-width: 100%;
    height: clamp(250px, 40vh, 600px);
    margin: 0 auto;
    overflow: hidden;
}

.successStoriesImage{
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

@media (max-width: 480px) {
   
    
    .successStoriesContainer {
        height: clamp(180px, 30vh, 300px);
    }
    
    .successStoriesImage {
        border-radius: 0.5rem;
    }
}