.App {
  text-align: center;
  overflow-x: hidden;

}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
} 

/* Navigation */
.website-name-container {

width: 25vw;
height: 15vh;
display: flex;
justify-content: center;
align-items: center;
margin-left: 10vw;
}

.website-name {
  font-size: 24px;
  font-weight: bold;
  color: #f8f8f8;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 600;
  font-style: normal;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  
}

.icon-container {

display: flex;
justify-content: space-between;
align-items: center;
gap: 6vw;
margin-right:8vw;
}


.nav-icon{
color: #f8f8f8;
 
} 

/* Hero Section */



/*Mobile Design*/


.hero-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120vh;
 
 
}

.main-text-container {
  width: 85vw;

  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 

}

.hero-section-main-text {
  color: #f8f8f8;
  font-family: 'JetBrains Mono', monospace;
  font-size: 2rem;
}

.hero-section-secondary-text {
  color: #D7D7D7;
  font-family: 'JetBrains Mono', monospace;
  font-size:.8rem;
  font-weight: 500;
  line-height: 2;
  margin-top: 1.5rem;

}

.hero-section-3D-container {
  height: 40%;
  width:100%;
 
}

.hero-section-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 6vw;
 
  width: 100%;
  
}

.hero-section-get-started-button, .hero-section-get-in-touch-button {
  width: 40vw;
  height: 5vh;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  color: #000000;
  font-family: 'JetBrains Mono', monospace;
  font-size: .9rem;
  font-weight: 900;
  cursor: pointer;
}


/* TO be done later*/
.review-section-container {
  color:whitesmoke;
  height:50vh;
  width:100vw;
}
/* End of TO be done later*/




/* Services Section */



.services-container {
  margin-top: 10vh;
  height: 80vh;
  width: 100vw;
  width: 95vw;
  margin: auto;
  border-radius: 1rem;
  position: relative;
  background: #000000; /* or whatever your background color should be */
}

.services-container::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background: linear-gradient(to bottom, #919090 0%, rgba(0, 0, 0, 1) 83%);
  border-radius: 1rem;
  z-index: -1;
}

.services-header-title {
  color:#4570ff;
  display: flex;
  margin-left:5vw;
  font-size: 1rem;
}


.services-section-container {

  color:whitesmoke;
  width: 95vw;
  height: 10%;
  border-bottom: 1px solid whitesmoke;
  display: flex;

}

.selected-service{

  background: linear-gradient(180deg,rgba(156, 156, 156, 1) 7%, rgba(0, 0, 0, 1) 100%);

}

.individual-service-container {
  width:25%;
}

.service-title {

  font-size: .8rem;
}

.services-information-container {
 width: 95vw;
 height: 80vh;
 display:grid;
 grid-template-areas: 
 "image text"
 "button button";
 grid-template-columns: 45% 45%;
 grid-template-rows: 50% 50%;
 
 gap:8vw;
}

.services-information-image{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  margin-top:5vh;
  margin-left:5vw;
  grid-area: image;
}
.services-information-text{
color:whitesmoke;
  width: 100%;
  height: 100%;
  margin-top:5vh;
  line-height: 1.5;
  text-align: center;
  grid-area: text;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
}

.services-get-touch-container{
  grid-area: button;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-get-touch-button {
  width: 40vw;
  height: 5vh;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  color: #000000;
  font-family: 'JetBrains Mono', monospace;
  font-size: .9rem;
  font-weight: 900;
}

/* Store Section */

.store-container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 70vh;
  background: #1f2020;
  width:90vw;
  margin: auto;
  border-radius: 1rem;

}


.store-title{
  background: linear-gradient(to right, #edb902, #e89005);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: 20vh;
  margin-bottom: 10vh;
  text-align: left;
  margin-left: 5vw;
}

.store-preference-text{
  color:whitesmoke;
  margin:none;
}

.new-text{
  color: #edb902;
}

.store-preference-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10vw;
  height:50%;
}

.store-preference-button{

  width: 5vw;
  height: 3vh;
  border: none;
  background-color: #ffffff;
  font-family: 'JetBrains Mono', monospace;

}

.submit-button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  height:50%;
}

.submit-button{
 width:30vw;
 height:5vh;
 border:none;
 border-radius: .5rem;
 font-family: 'JetBrains Mono', monospace;
 font-weight: 700;
 font-size: .9rem;
 color: #000000;

}

.all-selections-button{
width: 60vw;
height:8vh;
border:none;
border-radius: .5rem;
font-family: 'JetBrains Mono', monospace;
font-weight: 700;
font-size: .9rem;
color: #000000;

}


/* Footer */

.footer-container{
  display: flex;
  gap:5vw;
  justify-content: center;
  width: 100vw;
  height: 40vh;
  color:whitesmoke;
  margin-top:10vh;
  border-top: 1px solid rgb(119, 119, 119);
}


.footer-contact-container , .footer-services-container{
  width:45%;
  display: flex;
  flex-direction: column;
}

.footer-services-title, .footer-contact-title{
  font-size: 1.5rem;
  margin-bottom:3vh;
  margin-top:5vh;
 

}

.footer-services-text, .footer-contact-text{
  font-size: .95rem;
}

.footer-social-media-container{
 
  height:15vh;
  width:100vw;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:15vw;
}

.footer-social-media-icon{
  font-size: 3rem;
  color:whitesmoke;
  

 
}

/*  virus protection the pages */

.virus-protection-information-header{
  font-weight: 400;
  color:#06F816;
  align-self: flex-start;
  margin-left: 6vw;
  font-size: 1rem;
  padding:0;
 
}


.virus-protection-hero-section-button{
  width: 40vw;
  height: 5vh;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  color: #000000;
  font-family: 'JetBrains Mono', monospace;
  font-size: .9rem;
  font-weight: 900;

}




.virus-protection-information-container{
  margin-top: 20vh;
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:whitesmoke; 
  padding:0;

}

.virus-protection-information-title{
  font-size: 1.7rem;
  font-weight: 900;
  margin:0;
  margin-bottom: 5vh;
  width:100vw;
  line-height: 1.8;
 
}

.virus-protection-information-text{
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  color:#D7D7D7;
  width:90vw;
 
}


.virus-protection-images-container, .virus-dangers-information-image-container{

  height: 40vh;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:auto;
  margin-bottom:10vh;
  
}

.virus-security-code-image{
  background-image: url('../images/securityCode.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 30vw;
  height: 30vw;
  border-radius: 10px;
  border: none;
  outline: none;
  

}





.virus-security-image {
  width: 50vw;
  height:20vh;
  background-image: url('../images/security.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: none;
  outline: none;
  position: relative;
  z-index: 2;
  margin-top: 20vh;
  margin-left: -12.5vw;
  
}



.virus-dangers-information-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  position: relative;
}




.virus-dangers-information-container{
  height:80vw;
  width:90vw;
  margin:auto;
  color:whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.virus-dangers-information-header{
  color:#FFA600;
  align-self: flex-start;
  font-size: .9rem;

}

.virus-dangers-information-title{
  
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;

}

.virus-dangers-information-text{

  font-size: 1rem;
  font-weight: 500;
  color:#D7D7D7;
  width:90vw;
  line-height: 1.5;
 
}

.virus-dangers-image-virus-death{
  width: 40vw;
  height: 30vh;
  background-image: url('../images/virusDeath.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
  margin-top:35vh;
  margin-left: -18.5vw;
  
}

.virus-dangers-image-virus{
  background-image: url('/images/VirusSideways.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 40vw;
  height: 40vw;
  
}

/* Get In Touch Component */

.get-in-touch-container{
  background-color: #252525;
  border-radius: 1rem;
  height: 140vh;
  width: 95vw;
  margin:auto;
  color:whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
}

.get-in-touch-title{

.get-in-touch-title {
  background: linear-gradient(to right, #3A8DFF, #6CE0FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

}

.get-in-touch-contact-info-container{
  display:flex;
  flex-direction: column;
  gap: 5vh;
  align-items: left;
  
}

.get-in-touch-contact-name-container{
  display:flex;
  flex-direction: column;

}
.get-in-touch-contact-name-input{
margin:5vw;
align-self: left;

}

.get-in-touch-contact-method-title{
 
  margin-bottom:5vh;
}

.get-in-touch-contact-method-container{
  height:20vh;
  margin-top:5vh;
  
  
}
.get-in-touch-contact-method-input-container{
  display:flex;
  flex-direction: row;
  gap:1.5rem;
  align-items: center;
  justify-content: center;
}



.get-in-touch-contact-info-input, .get-in-touch-contact-name-input{
  width:50vw;
  height:5vh;
  margin-left:5vw;
  border-radius: 1rem;
  border:none;
  background-color: #ffffff;
  color: #000000;
  font-family: 'JetBrains Mono', monospace;
  font-size: .9rem;
  font-weight: 800;
  text-align: left;
  padding:.3rem;

  
  
}

.get-in-touch-contact-info-textarea{
  width:80vw;
  height:20vh;
  border-radius: 1rem;
  align-self: center;
  text-align: center;
  border:none;
  background-color: #ffffff;
  color: #000000;
  font-family: 'JetBrains Mono', monospace;
  font-size: .9rem;
  font-weight: 800;
  padding: 1rem;

}

.get-in-touch-contact-info-button{
  align-self: center;
  width:40vw;
  height:5vh;
  border-radius: 1rem;
  border:none;
  background-color: #ffffff;
  color: #000000;
  font-family: 'JetBrains Mono', monospace;
  font-size: 1rem;
  font-weight: 900;
}


/* Data Recovery Hero Section  */

.data-recovery-3D-hero-section-container{
  height: 30vh;
  width: 100vw;
  background-color: #000000;


}

.data-recovery-hero-section-header-container{
  color:whitesmoke;
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: .8rem;
  line-height: 1.5;
 
}

.data-recovery-hero-section-text{
  font-weight: 600;
  font-size: .6rem;
  line-height: 2.3;
  color:#D7D7D7;

}

.data-recovery-hero-section-header-span{
  background: linear-gradient(to right, #ffffff, #0DFF3A 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.data-recovery-hero-section-button{

  width: 40vw;
  height: 5vh;
  border-radius: 1rem;
  border: none;
  background-color: #ffffff;
  color: #000000;
  font-family: 'JetBrains Mono', monospace;
  font-size: .9rem;
  font-weight: 900;
  margin-top: 10vh;

}


/* Data Recovery Stolen Info Section */

.data-recovery-stolen-info-container{
  height: 40vh;
  width: 95vw;
  margin:auto;
  color:whitesmoke;
  display:flex;
  flex-direction: column;
  margin-top: 10vh;
  text-align: left;
}

.data-recovery-stolen-info-recovery-text{
  font-size: .8rem;
  font-weight: 600;
  color:#00FF08;
  align-self: flex-start;

}

.data-recovery-stolen-info-header{
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;

}

.data-recovery-stolen-info-text{
  width: 95vw;
  font-size: .6rem;
  font-weight: 600;
  color:#D7D7D7;
  line-height: 2;

}

.data-recovery-stolen-info-image-container{
  
  height: 70vh;
  width: 95vw;
  margin:auto;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.data-recovery-stolen-info-image{
  width: 50vw;
  height: 30vh;
  background-image: url('/images/stolenData.png');
  background-size: cover;
  background-position: center;
  z-index: 2;
  position: relative;
  right: -10vw;
  top: -10vh;
  border-radius: 1rem;
}

.data-recovery-stolen-info-code-image{
  width: 50vw;
  height: 30vh;
  background-image: url('/images/StolenDataCode.png');
  background-size: cover;
  background-position: center;
  z-index: 1;
  position: relative;
  left: -5vw;
  top: 10vh;
  border-radius: 1rem;
}

/* Data Recovery Methods Section */

.data-recovery-methods-container{
 
  margin-bottom:20vh;
}

.data-recovery-methods-information-container{
  height: 50vh;
  width: 90vw;
  margin: auto;
  border-radius: 1rem;
  position: relative;
  background: #000000;
  color:whitesmoke;
}

.data-recovery-methods-information-header{
  font-size: 1rem;
  font-weight: 600;
  color:#00FF08;
  align-self: flex-start;
  margin-left: 6vw;
}

.data-recovery-methods-information-container::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background: linear-gradient(to bottom, #dfdddd 0%, rgba(0, 0, 0, 1) 83%);
  border-radius: 1rem;
  z-index: -1;
}

.data-recovery-methods-section-container{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid whitesmoke;

}

.data-recovery-methods-information-header{
  color:whitesmoke;
  display: flex;
  font-size: .8rem;
  font-weight: 400;
  margin-bottom:3vh;
}


.data-recovery-method-title{

  font-size: .65rem;
}

.data-recovery-methods-information-text-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  line-height: 2;
}

.data-recovery-methods-information-text-header{
  align-self: flex-start;
  font-size: .9rem;
  margin-left:5VW


}

.data-recovery-methods-information-text{

  font-size: .70rem;
  margin-left:5vw;
}

/* Data Recovery Get In Touch Section */


.data-recovery-line-light{

  width:80vw;
  
  /* background-color: #696969; */
  border-top:1px solid #ffffff;
  margin:auto;
  
  /* box-shadow: inset 0px 10px 20px 5px rgb(0, 0, 0); */

}

.data-recovery-get-in-touch-header-container{

  color:whitesmoke;
  height:40vh;
  width:95vw;
  padding-top:20vh;
  display:flex;
  flex-direction: column;
  text-align: left;
  
}


.data-recovery-get-in-touch-header{
  font-size: 1rem;
  font-weight: 600;
  color:#ffffff;
  align-self: center;
  margin-left: 6vw;

}

.data-recovery-get-in-touch-text{

  margin-left:6vw;
  font-size:.8rem;
  line-height:2;
  font-weight:300;

}

.data-recovery-get-in-touch-form-contact-info-container{
  display:flex;
  flex-direction: column;
  width:100vw;
  margin:auto;
  gap:3vh;
  

}

.data-recovery-get-in-touch-form-header{
  color:whitesmoke;
  font-size:.85rem;
  
}

.data-recovery-get-in-touch-form-name-input{

  width:50vw;
  height:5vh;
  border-radius: 1rem;
  border:none;
  background-color: #ffffff;
  color: #000000;
  font-family: 'JetBrains Mono', monospace;
  font-size: .9rem;
  font-weight: 900;
  text-align: left;
  padding:.3rem;
  margin-left:10vw;
  

}

.data-recovery-get-in-touch-form-contact-method-container{
  display:flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width:95vw;
  height:10vh;
 
  margin-top:8vh;
 
}

.data-recovery-get-in-touch-form-contact-method-title{

  font-size:.85rem;
  font-weight: 400;
  color:whitesmoke;
  margin-left:10vw;
  width:100vw;
  margin:auto;
}

.data-recovery-get-in-touch-form-contact-method-input{
  width:3vw;
  height:3vh;
  border-radius: 1rem;
  border:none;
  
}

.data-recovery-get-in-touch-form-contact-method-label{

  font-size:.85rem;
  font-weight: 400;
  color:whitesmoke;
  margin-left: 1vw;
  
}


.radio-group{
  width:90vw;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:4vw;
  margin-top:2vh;
}

/* Data Recovery Get In Touch Form Textarea */
.data-recovery-get-in-touch-form-textarea-container{
  margin-top:7vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width:95vw;
}

.data-recovery-get-in-touch-form-textarea-header{
  margin-bottom:5vh;
  margin-left:3vw;
  color:whitesmoke;
  font-size:.8rem;
  font-weight: 400;
  text-align: left;
}

.data-recovery-get-in-touch-form-textarea{
  display:flex;
  width:90vw;
  height:18vh;
  border-radius: 1rem;
  border:none;
  background-color: #ffffff;
  color: #000000;
  font-family: 'JetBrains Mono', monospace;
  font-size: .8rem;
  font-weight: 900;
  padding:.3rem;
  margin-left:5vw;
  margin-bottom:5vh;

}

.data-recovery-get-in-touch-form-submit-button{

  width:40vw;
  height:5vh;
  border-radius: 1rem;
  border:none;
  background-color: #ffffff;
  color: #000000;
  font-family: 'JetBrains Mono', monospace;
  font-size: .9rem;
  font-weight: 900;
  margin-left:5vw;
}


 .review-section-container {

text-align: center;
justify-content: center;
align-items: center;
display: flex;

} 


/* Computer Repairs Hero Section */
.computer-repairs-hero-3D-section-container{

    height: 30vh;
    width: 100vw;
    color:whitesmoke;
    
}

.computer-repairs-hero-section-header-span{

  color:#00FF08

}

.computer-repairs-hero-section-header{

  font-size: 1.1rem;
  color:whitesmoke;
  line-height: 2;

}

/*Computer Repairs Pricing Component*/
.computer-repairs-pricing-information-container{

  height: 50vh;
  width: 90vw;
  margin:auto;
  color:whitesmoke;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;

}

.computer-repairs-pricing-section-header{

  font-size: .7rem;
  align-self: flex-start;
  color:#00FF08

}

.computer-repairs-pricing-section-title{

  font-size: 1rem;
  font-weight: 800;
  line-height: 1.5;
  align-self: flex-start;
  margin-bottom:.5rem;
  margin-top:.3rem;

}

.computer-repairs-pricing-section-text{

  font-size: .8rem;
  font-weight: 500;
  color:#D7D7D7;
  line-height: 1.5;
  align-self: flex-start;
  margin-bottom:.3rem;
  margin-top:.3rem;

}


/* Computer Repairs Damages Component */


.computer-repairs-damages-container{
  height: 70vh;
  width: 90vw;
  margin:auto;
  color:whitesmoke;
  display:flex;
  flex-direction: column;
  text-align: left;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.computer-repairs-damages-section-header{
  font-size: .7rem;
  align-self: flex-start;
  color:#F59E0B
}

.computer-repairs-damages-list-container{
  height: 50vh;
  width: 90vw;
  border-radius: 1rem;
  position: relative;
  background: #000000;
  color:whitesmoke;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 1rem;

}

.computer-repairs-damages-list-container::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  /* box-shadow: inset 0px 10px 40px -84px #ffffff; */
  background: linear-gradient(to bottom, #ffffff 0%, #000000 75%);
  border-radius: 1rem;
  z-index: -1;
}

.computer-repairs-damages-list-item{

  margin-top:1rem;
  margin-bottom:1rem;


}

.computer-repairs-damages-list-item:nth-child(3){
  opacity:.95;

}

.computer-repairs-damages-list-item:nth-child(4){
  opacity:.85;
}

.computer-repairs-damages-list-item:nth-child(5){
  opacity:.75;

}

.computer-repairs-damages-list-item:nth-child(6){

  opacity:.65;
}

/* Computer Repairs Information Component */

.computer-repairs-information-container{
  height: 50vh;
  width: 90vw;

  color:whitesmoke;
  display:flex;
  flex-direction: column;
  text-align: left;
}

.computer-repairs-information-header{

  color:#F59E0B;
  font-size: .7rem;
  margin-left: 5vw;

}


.computer-repairs-information-title{

  font-size: 1rem;
  margin-left: 5vw;

}

.computer-repairs-information-text{
  margin-left: 5vw;
  font-size: .8rem;
  font-weight: 500;
  color:#D7D7D7;
  line-height: 1.5;
  align-self: flex-start;
  margin-bottom:.3rem;
  margin-top:.3rem;
}

/*General Product Section for General Store Page*/

.products-container{

  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:1rem;

}

.individual-product-container{
  border:1px solid #000000;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  color:whitesmoke;
  width:80vw;
  height:60vh;
  margin-top:10vh;
  margin-bottom:10vh;

}

.individual-product-info-container{
  display:flex;
  justify-content: space-around;
  width:100%;
  margin:0;
}

.individual-product-image{

  width:100%;
  height:60%;
  border-radius: 1rem;
  border:none;
  outline:none;
  margin:0;



}

.individual-product-name, .individual-product-price{
  font-size: .9rem;
  font-weight: 400;
  margin-top:0;
  
}

/* Products Details Page */

.product-details-container{
  height: 100vh;
  width: 100vw;
  color:whitesmoke;
  display:flex;
  flex-direction: column;
  align-items: center;
