.container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.title {
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
}

.infoCardContainer {
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.infoCard {
    width: 100%;
    height:auto;
    background-color: #0e0d0d50;
    border: 2px solid #ffffff25;
    border-radius: 0.5rem;
    padding: 1rem;
}

.infoCardTitle {
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
}

.currentView {
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
}

.infoCardValue {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
}